workflow.json
{
  "name": "Local AI Email Auto-Responder",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "downloadAttachments": false,
        "format": "resolved",
        "options": {
          "criteria": "UNSEEN"
        }
      },
      "id": "1",
      "name": "Email Read (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "credentials": {
        "imap": {
          "id": "WQlmcfRJZX9K4EQw",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.from.address }}",
              "rightValue": "prasannayadav2468@gmail.com",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "leftValue": "={{ $json.subject }}",
              "rightValue": "AI Auto-Reply:",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ]
        }
      },
      "id": "2",
      "name": "Loop Prevention IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: \"llama3:8b\",\n  stream: false,\n  keep_alive: \"24h\",\n  options: {\n    num_predict: 110,\n    temperature: 0.3\n  },\n  prompt: \"You are a professional email assistant.\\n\\nReply to the following email.\\n\\nSender: \" + ($node[\"Email Read (IMAP)\"].json.from?.address || \"\") + \"\\nSubject: \" + ($node[\"Email Read (IMAP)\"].json.subject || \"\") + \"\\nMessage:\\n\" + (($node[\"Email Read (IMAP)\"].json.text || $node[\"Email Read (IMAP)\"].json.html || \"\").toString().slice(0, 2200)) + \"\\n\\nRules:\\n- Start directly with a greeting.\\n- Do not add any preface like 'Here is your reply' or 'Here is a concise and helpful reply'.\\n- Do not use placeholders such as [Recipient].\\n- Be polite, short, and professional.\\n- Keep it under 90 words total.\\n- End with: Best regards,\\nPrasanna AI Assistant\"\n}) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "3",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        780,
        220
      ]
    },
    {
      "parameters": {
        "fromEmail": "prasannayadav2468@gmail.com",
        "toEmail": "={{ $node[\"Email Read (IMAP)\"].json.from?.value?.[0]?.address || $node[\"Email Read (IMAP)\"].json.from?.address || ($node[\"Email Read (IMAP)\"].json.from?.text || '').match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i)?.[0] || $node[\"Email Read (IMAP)\"].json.replyTo?.value?.[0]?.address || $node[\"Email Read (IMAP)\"].json.replyTo?.address || '' }}",
        "subject": "={{ (() => { const s = (($node[\"Email Read (IMAP)\"].json.subject || \"Your Message\") + \"\").trim(); return /^re:/i.test(s) ? s : `Re: ${s}`; })() }}",
        "text": "={{ $node[\"HTTP Request\"].json.response }}",
        "html": "=<p>{{ $node[\"HTTP Request\"].json.response }}</p>",
        "options": {
          "messageId": "={{ $node[\"Email Read (IMAP)\"].json.messageId }}"
        }
      },
      "id": "4",
      "name": "Send Reply (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1040,
        220
      ],
      "credentials": {
        "smtp": {
          "id": "2b3UDzIqWVr35qLE",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Email Read (IMAP)": {
      "main": [
        [
          {
            "node": "Loop Prevention IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Prevention IF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send Reply (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "local-ai-email-auto-responder",
  "tags": []
}
